@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600&display=swap');


*,
*::before,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #000;
    font-size: 0.875rem;
    line-height: 1.6;
    font-weight: 400;
    background-color: #F8F9FD;
    font-family: 'Figtree', sans-serif;
    font-style: normal;
}